<!--<div style="width: 500px; height: 500px; border: 1px solid black; background-color: white">-->
<!--  <canvas-whiteboard #canvasWhiteboard-->
<!--                     [drawButtonClass]="'drawButtonClass'"-->
<!--                     [drawButtonText]="'Draw'"-->
<!--                     [clearButtonClass]="'clearButtonClass'"-->
<!--                     [clearButtonText]="'Clear'"-->
<!--                     [undoButtonText]="'Undo'"-->
<!--                     [undoButtonEnabled]="true"-->
<!--                     [redoButtonText]="'Redo'"-->
<!--                     [redoButtonEnabled]="true"-->
<!--                     [colorPickerEnabled]="true"-->
<!--                     [fillColorPickerText]="'Fill'"-->
<!--                     [strokeColorPickerText]="'Stroke'"-->
<!--                     [saveDataButtonEnabled]="true"-->
<!--                     [saveDataButtonText]="'Save'"-->
<!--                     [lineWidth]="5"-->
<!--                     [strokeColor]="'rgb(0,0,0)'"-->
<!--                     [shouldDownloadDrawing]="true">-->
<!--  </canvas-whiteboard>-->
<!--</div>-->
<nz-upload [nzFileList]="fileList" (nzChange)="handleChange($event)" [nzBeforeUpload]="handle">
  <button nz-button><i nz-icon nzType="upload"></i>Upload</button>
</nz-upload>
