<div style="padding: 80px 20px 0 20px;height: 100%;">

  <div style="border-radius: 0.5rem;border: 0.0625rem solid hsla(0, 0%, 0%, 0.15);background-color: white;
      height: calc(100% - 520px);min-height:438px;padding: 20px 20px;text-align: center">
    <h1>多人协助</h1>
    <p style="text-indent: 2em;text-align: left">
      如果您在学习过程中遇到了困难，您可以通过视频连线的方式向其他同学或老师寻求帮助。房间的使用采用的是即时建立的方式。你只需要<strong>输入房间号，点击加入房间即可</strong>。
      输入的房间号如果已经存在就加入，否则就创建房间。<span><mark>如果打开音频后麦克风没有声音，请检查浏览器的麦克风权限是否以及开启以及本机麦克风是否可用。</mark></span>
    </p>
    <div style="margin-top: 20px;" nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzSpan]="16">
        <div id="inputRoom">
          <input nz-input placeholder="请输入房间号(必须为纯数字)" [(ngModel)]="input_room_id_string"/>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="8">
        <button style="width: 110px" [disabled]="webrtcUtilService.connected" id="connect" (click)="testServerConnection()"
                nz-button
                nzType="primary">加入房间
        </button>
      </div>
    </div>
    <div style="margin-top: 25px;" nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzSpan]="8">
        <button style="width: 110px" nz-button nz-dropdown [nzDropdownMenu]="deviceMenu"
                [disabled]="!webrtcUtilService.mediaUsable">
          设备权限
          <i nz-icon nzType="down"></i>
        </button>
        <nz-dropdown-menu #deviceMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <p>视频流权限</p>
              <nz-radio-group [(ngModel)]="videoStreamState"
                              (ngModelChange)="changeVideoStreamState([$event])">
                <label nz-radio nzValue="open">开启</label>
                <label nz-radio nzValue="close">关闭</label>
              </nz-radio-group>
            </li>
            <li nz-menu-item>
              <p>音频流权限</p>
              <nz-radio-group [(ngModel)]="audioStreamState"
                              (ngModelChange)="changeAudioStreamState([$event])">
                <label nz-radio nzValue="open">开启</label>
                <label nz-radio nzValue="close">关闭</label>
              </nz-radio-group>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="8">
        <button style="width: 110px" nz-button nz-dropdown [nzDropdownMenu]="shareMenu"
                [disabled]="!webrtcUtilService.mediaUsable">
          共享内容
          <i nz-icon nzType="down"></i>
        </button>
        <nz-dropdown-menu #shareMenu="nzDropdownMenu">
          <nz-radio-group [(ngModel)]="shareDevice" (ngModelChange)="changeShareDevice([$event])">
            <ul nz-menu>
              <li nz-menu-item>
                <label nz-radio nzValue="shareCamera">共享摄像头</label>
              </li>
              <li nz-menu-item>
                <label nz-radio nzValue="shareDesktop">共享屏幕</label>
              </li>
              <li nz-menu-item>
                <label nzDisabled nz-radio nzValue="shareRemoteControl">远程控制</label>
              </li>
            </ul>
          </nz-radio-group>
        </nz-dropdown-menu>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="8">
        <button style="width: 110px" [disabled]="!webrtcUtilService.connected" id="disconnect" (click)="disconnectFromServer()"
                nz-button nzType="primary">退出房间
        </button>
      </div>
    </div>
    <div style="margin-top: 25px;" nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzSpan]="8">
        <nz-upload [(nzFileList)]="files" [nzBeforeUpload]="nzBeforeUpload">
          <button [disabled]="!webrtcUtilService.connected" style="width: 110px" nz-button><i nz-icon
                                                                                          nzType="upload"></i><span>选择文件</span>
          </button>
        </nz-upload>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="8">
        <button
          style="width: 110px"
          nz-button
          [nzType]="'primary'"
          [nzLoading]=""
          (click)="shareFiles()"
          [disabled]="!webrtcUtilService.connected || this.files.length == 0"
        >
          分享文件
          <!--              {{ uploading ? 'Uploading' : 'Start Upload' }}-->
        </button>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="8">
        <nz-badge [nzCount]="webrtcUtilService.unreadChatMessageNum">
          <button [disabled]="!webrtcUtilService.connected" style="width: 110px" nz-button nzType="primary"
                  (click)="openChatRoom()">聊天室
          </button>
        </nz-badge>
        <nz-drawer
          [nzWidth]="750"
          [nzClosable]="false"
          [nzVisible]="chatRoomVisible"
          nzPlacement="right"
          nzTitle="聊天室"
          (nzOnClose)="closeChatRoom()"
        >
          <div style="width: 100%;height: 700px;overflow: auto;border: 2px solid #cbc8c8">
            <div style="margin:20px">
              <nz-comment *ngFor="let chat of webrtcUtilService.chatMessages" [nzAuthor]="chat.name"
                          [nzDatetime]="chat.time">
                <nz-avatar
                  nz-comment-avatar
                  nzIcon="user"
                  nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                ></nz-avatar>
                <nz-comment-content>
                  <p>
                    {{chat.message}}
                  </p>
                </nz-comment-content>
              </nz-comment>
            </div>
          </div>
          <div style="margin-top: 10px;height: calc(100% - 700px)" nz-row [nzGutter]="16" nzType="flex"
               nzAlign="bottom">
            <div nz-col class="gutter-row" [nzSpan]="18">
                  <textarea placeholder="输入你要发送的消息" style="width: 100%;height: 100px;" rows="4" nz-input
                            [(ngModel)]="chatMessage"></textarea>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="6">
              <div>
                <button style="width: 100%;height: 45px;font-size: 17px;" nzGhost nz-button nzDanger
                        (click)="clearChatHistory()">清空聊天记录
                </button>
              </div>
              <div>
                <button style="width: 100%;height: 45px;margin-top: 10px;font-size: 17px;" nzGhost nz-button
                        nzType="primary" (click)="sendChatMessageToAll()">发送
                </button>
              </div>
            </div>
          </div>
        </nz-drawer>
      </div>
    </div>
  </div>

  <div
    style="border-radius: 0.5rem;border: 0.0625rem solid hsla(0, 0%, 0%, 0.15);
        background-color: white;height: 70px;margin-top: 25px;
        padding: 20px 20px;text-align: center">
    <label style="font-size: 17px;margin-right: 20px;font-weight: bold">远程控制:</label>
    <nz-select disabled="true" style="width: 250px" nzShowSearch
               nzPlaceHolder="选择你想远程控制的用户" >
    </nz-select>
<!--    <nz-select disabled="true" style="width: 250px" nzShowSearch-->
<!--               nzPlaceHolder="选择你想远程控制的用户" [(ngModel)]="webrtcControl.remoteControlSocketId"-->
<!--               (ngModelChange)="remoteControlStart([$event])">-->
<!--      <nz-option *ngFor="let mediaStream of webrtcControl.mediaStreams.slice(1)" [nzLabel]="mediaStream.name"-->
<!--                 [nzValue]="mediaStream.socketId"></nz-option>-->
<!--    </nz-select>-->
  </div>

  <div
    style="border-radius: 0.5rem;border: 0.0625rem solid hsla(0, 0%, 0%, 0.15);background-color: white;height: 400px;margin-top: 25px;">
    <nz-card [ngStyle]="{display: webrtcUtilService.localMediaStream?'inline':'none'}"
             style="width:100%;height: 100%" nzTitle="我的摄像头" [nzExtra]="extraTemplate">
      <video controls="controls" [volume]="0.0" *ngIf="webrtcUtilService.localMediaStream"
             [srcObject]="webrtcUtilService.localMediaStream" autoplay width="350px"></video>
    </nz-card>
    <nz-drawer
      [nzHeight]="440"
      [nzClosable]="true"
      [nzVisible]="roomCamerasVisible"
      nzPlacement="bottom"
      nzMask="false"
      (nzOnClose)="closeCameras()"
    >
      <ng-container *nzDrawerContent>
        <nz-empty *ngIf="webrtcUtilService.neighbours.length < 1"></nz-empty>
        <nz-card style="max-width: 400px;display: inline-block;margin-right: 60px;text-align: center;"
                 *ngFor="let neighbour of webrtcUtilService.neighbours" [nzTitle]="neighbour.name+'的摄像头'">
          <video controls="controls"
                 [srcObject]="neighbour.mediaStream" autoplay width="350px"></video>
        </nz-card>
      </ng-container>
    </nz-drawer>
    <ng-template #extraTemplate>
      <button [disabled]="!webrtcUtilService.connected" style="width: 160px" nz-button nzType="primary"
              (click)="openCameras()">查看所有人的摄像头
      </button>
    </ng-template>
    <!--        <div id="videos" style="height: 500px;">-->
    <!--          <video [srcObject]="webrtcControl.localMediaStream" id="me" autoplay width="400px"></video>-->
    <!--        </div>-->

  </div>

</div>
